@use "./variables" as *;

.subHeading {
  font-size: 2rem;
  color: $tertiary;
  margin-bottom: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.newLine {
  display: block;
}

.form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001e31;

  p {
    font-size: 1.8rem;
  }
}

.box select,
.box input {
  padding: 10px;
  width: 100%;
  height: 75px;
  border: none;
  font-size: 1rem;
  //   box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  overflow: hidden;
  line-height: 3;
  margin-bottom: 1em;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  padding: 2em;
}

label {
  color: $tertiary;
  margin-bottom: 1em;
  font-size: 1rem;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  height: 100%;

  input[type="range"] {
    width: 80%;
    padding: 0;
    -webkit-appearance: none;
    background: transparent;
    cursor: pointer;

    &::-webkit-slider-runnable-track,
    &::-moz-range-track {
      background-color: $quinary;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
      border-radius: 2px;
    }

    &::-webkit-slider-thumb,
    &::-moz-range-thumb {
      -webkit-appearance: none;
      background-color: $secondary;
      border: 3px solid $primary;
      transition: all 0.4s ease-in-out;
    }

    &:hover,
    &:focus {
      &::-webkit-slider-thumb,
      &::-moz-range-thumb {
        background-color: $quaternary;
      }
    }
  }
}

.genreContainer {
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  flex-wrap: wrap;
  padding: 10px;

  label {
    margin: 20px 0;
  }

  input[type="checkbox"] {
    display: none;

    &:checked + label {
      color: $quaternary;
    }
  }
}

.genre {
  padding: 10px;
}

.back,
.create,
.next {
  color: #fff;
}

.back,
.create,
.next,
.genre {
  align-self: center;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.back:hover,
.create:hover,
.next:hover,
.genre:hover,
.back:focus,
.create:focus,
.next:focus,
.genre:focus {
  background-color: $quaternary;
  border: 1px $tertiary solid;
  color: $tertiary;
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.back,
.create,
.next,
.genre {
  background-image: linear-gradient(to right, $primary, $secondary);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
