@use "./variables" as *;

html {
  font-size: 125%;
}

.body {
  background-color: $primary;
  color: $tertiary;
}

img {
  width: 100%;
  height: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $quaternary;
}

h1,
h2,
h4 {
  @include bold;
}

h3,
h5,
p {
  @include light;
}

h2,
h3 {
  text-align: center;
}

h1 {
  font-size: 1.2rem;
  padding-left: 10px;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

h4 {
  font-size: 1rem;
}

h5,
p {
  font-size: 0.9rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin: 10px;
    cursor: pointer;
  }
}

.scrollButton {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
}

footer p {
  text-align: center;
  margin: 0;
  padding: 18px 0;
}
