@use "variables" as *;

@media (min-width:800px) {
    .cardWrapper {
        width: 85%;
    }
}

@media (min-width:1000px) {
    .devWrapper {
        display: flex;
        flex-direction: row;
    }

    .cardWrapper {
        width: 90%;
    }
}

@media (max-width:800px) {

    h3 {
        font-size: 1.1rem;
    }

    .playlist {
        text-align: center;
    }

    .box input,
    .playlist li {
        width: 90%;
        align-self: center;
    }

    .playlist li {
        // min-height: 545.656px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .box select {
        width: 70%;
        align-self: center;
    }

    .subHeading {
        font-size: 1.6rem;
    }

    .back,
    .create,
    .next {
        width: 144px;
        height: 60px;
    }

    .mediaContainer {
        text-align: center;
    }

    img {
        height: 280px;
        width: 280px;
    }

    .mediaContainer {
        height: 300px;
        width: 300px;
    }


    .flexImage {
        display: flex;
        justify-content: center;
        align-items: center;
    }


}