@use "./variables" as *;

//Styling the playlist section
.iconContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.playlistContainer {
  ul {
    width: 95%;
    margin: 0 auto;
  }
}

.playlistButtons a svg,
.playlistButtons button svg,
.icon svg,
.backButton svg {
  background-color: $secondary;
  border-radius: 10px;
  border: 2px solid $tertiary;
}

.playlistButtons {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  padding: 0 5%;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin: 10px 0;
  }
}

//styling audio player
audio {
  width: 100%;
  height: 100%;
  position: absolute;
  border: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

//styling each podcast playlist item
.playlist {
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    padding: 0;
  }
}

.mediaContainer {
  height: 95%;
  width: 95%;
  cursor: pointer;
  position: relative;
}

.flexImage,
.mediaContainer,
.overlay {
  max-width: 450px;
}

img {
  height: 95%;
  width: 95%;
}

button.icon {
  display: flex;
}

//styling each podcast image
.podcastImage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  align-items: center;
  margin: 10px 0;
  padding: 10px;
  gap: 20px;
  border-radius: 10px;
  border: 1px solid $secondary;
  background-color: $tertiary;
  color: $primary;
}

//styling image Container
.flexImage {
  overflow: hidden;
  position: relative;
  transition: all 0.45s ease;
}

.flexImage {
  position: relative;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

//styling the overlay
.overlay {
  position: absolute;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: $quinary;
  opacity: 0.5;
  transition: 0.3s ease;
}

.overlay:hover {
  opacity: 0.7;
  background-color: $secondary;
}

//play icon on image
.playIcon {
  background: #fff;
  border-radius: 50%;
  border: 1px solid $primary;
  display: flex;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  z-index: 2;
}

.playlistInfo {
  flex-basis: 55%;
  text-align: center;
}

.iconContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon,
.iconNav {
  padding: 0;
  margin: 0;
  height: 40px;

  &:hover,
  &:focus {
    color: #ffbb5c;
    outline: none;
  }
}

.icon,
.icon a {
  position: sticky;
}

.overlay:hover,
.podcastImage:focus.overlay,
.podcastImage:focus-within .overlay {
  opacity: 0.7;
  background-color: $secondary;
}

.swal2-container.swal2-center>.swal2-popup {
  background-color: $tertiary;
}

.confirmEdit{
  display: none;
  background-color: $primary;
  box-shadow: 0 4px 10px 0 rgba($color: black, $alpha: 0.7);
  color: #fff;
  padding: 10px 15px;
  border: 1px transparent solid;
  &:hover,
  &:focus{
    background-color: $quaternary;
    border: 1px $tertiary solid;
    color: $tertiary;
    box-shadow: 0 4px 10px 0 rgba($color: $quinary, $alpha: 0.7);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
}

