ul{
    list-style: none;
    width: 95%;
    padding: 0;
    margin: 0 auto;
}

.playlist{
    display: flex;
    flex-direction: column;
}

li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.mediaContainer{
    flex-basis: 40%;
    cursor: pointer;
}

.playlistInfo{
    flex-basis: 55%;
}

img,
iframe{
    width: 100%;
    height: 100%;
}