// Font Import
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");

// Font Families
@mixin bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

@mixin light {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

// Colour Palette
$primary: #0e444f;
$secondary: #001e31;
// $secondary: #489fb5;
$tertiary: #ede7e3;
$quaternary: #ffa62b;