// Font Import
@import url("https://fonts.googleapis.com/css2?family=Cambo&family=Roboto:wght@300&display=swap");

// Font Families
$sans: "Roboto", sans-serif;
$serif: "Cambo", serif;

// Colour Palette
$primary: #ede7e3;
$secondary: #82c0cc;
$tertiary: #489fb5;
$quaternary: #16697a;
$quinary: #ffa62b;
