@use "./variables" as *;

.subHeading {
    font-size: 2rem;
    color: $tertiary;
    margin-bottom: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.newLine {
    display: block;
}

.hidden {
    padding-right: 1em;
}

form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001e31;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3%;
    font-size: large;
    color: rgb(2, 0, 0);
}

.box select {
    padding: 10px;
    width: 100%;
    height: 75px;
    border: none;
    font-size: 1rem;
    font-family: 'serif';
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    outline: none;
    cursor: pointer;
    overflow: hidden;
    line-height: 3;
    margin-bottom: 1em;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    text-align: center;
}

.dropdownMenu {
    width: 150px;
    text-align: center;
    font-size: 2rem;
    font-family: serif;
    text-transform: uppercase;
    padding: 10px;
    background-color: $tertiary;
    color: #001e31;
}

.dropdownMenu option {
    margin: 40px;
    background-color: $tertiary !important;
    color: #001e31;
    text-shadow: 0 1px 0;
}

.back,
.create {
    font-size: 1rem;
    font-family: 'serif';
    width: 25%;
    padding: 10px;
    height: 75px;
    border: 1px $primary solid;
    color: $tertiary;
    text-transform: uppercase;
    margin-right: 0;
    background-color: $primary;
}

.back:hover,
.back:focus,
.create:hover,
.create:focus {
    background-color: $quaternary;
    border: 1px $quaternary solid;
    color: #001e31;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
    padding: 2em;

}

form {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #001e31;
}

label {
    color: #ede7e3;
    margin-bottom: 1em;
}

.box {
    display: flex;
    flex-direction: column;
    font-size: large;
    color: rgb(2, 0, 0);
    text-align: center;
}

.box input {
    padding: 10px;
    width: 100%;
    height: 75px;
    border: none;
    font-size: 1rem;
    font-family: 'serif';
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    outline: none;
    cursor: pointer;
    overflow: hidden;
    line-height: 3;
    margin-bottom: 1em;
}

.next {
    align-self: center;
    font-size: 1rem;
    font-family: 'serif';
    width: 50%;
    padding: 10px;
    height: 75px;
    border: 1px $primary solid;
    color: $tertiary;
    text-transform: uppercase;
    margin-right: 0;
    background-color: $primary;
}

.next:hover,
.next:focus {
    background-color: $quaternary;
    border: 1px $quaternary solid;
    color: #001e31;
}